Cloudant
[{"id":"63b4d91c.8c72f8","type":"cloudant in","z":"7e4e476a.0f7008","name":"Recuperar","cloudant":"9186c061.6a25b","database":"hackatruck","service":"ctrafael-demo-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":492,"y":238.15000915527344,"wires":[["c0634dc2.509cf"]]},{"id":"739e773d.33d088","type":"http in","z":"7e4e476a.0f7008","name":"Inserir Dados","url":"/putdata","method":"get","swaggerDoc":"","x":239.99998474121094,"y":134,"wires":[["a0d19062.4a501","58cdd18f.b3303","cb6f9cc4.05ae5"]]},{"id":"bf74aee0.d024b","type":"http in","z":"7e4e476a.0f7008","name":"Recuperar Dados","url":"/getdata","method":"get","swaggerDoc":"","x":245.99998474121094,"y":237.99998474121094,"wires":[["63b4d91c.8c72f8"]]},{"id":"a0d19062.4a501","type":"http response","z":"7e4e476a.0f7008","name":"Dado Inserido","x":788.0000305175781,"y":135.5833282470703,"wires":[]},{"id":"c0634dc2.509cf","type":"http response","z":"7e4e476a.0f7008","name":"Listar Dados","x":776.0000305175781,"y":236.5833282470703,"wires":[]},{"id":"58cdd18f.b3303","type":"cloudant out","z":"7e4e476a.0f7008","name":"inserir","cloudant":"9186c061.6a25b","database":"hackatruck","service":"ctrafael-demo-cloudantNoSQLDB","payonly":true,"operation":"insert","x":473.00006103515625,"y":181.9499969482422,"wires":[]},{"id":"33d146af.2b7cba","type":"http in","z":"7e4e476a.0f7008","name":"Deletar tudo","url":"/deleteall","method":"get","swaggerDoc":"","x":231.54998779296875,"y":316.6999969482422,"wires":[["ade34491.e8fd48"]]},{"id":"ade34491.e8fd48","type":"cloudant in","z":"7e4e476a.0f7008","name":"Recuperar","cloudant":"9186c061.6a25b","database":"hackatruck","service":"ctrafael-demo-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":486.8833312988281,"y":316.14439392089844,"wires":[["4a29e03d.9fd84","70ab92d8.f399ec"]]},{"id":"70ab92d8.f399ec","type":"http response","z":"7e4e476a.0f7008","name":"Listar Docs que serão apagados","x":767.4610595703125,"y":315.7222137451172,"wires":[]},{"id":"986463b7.e8058","type":"cloudant out","z":"7e4e476a.0f7008","name":"Deleta tudo","cloudant":"9186c061.6a25b","database":"hackatruck","service":"ctrafael-demo-cloudantNoSQLDB","payonly":false,"operation":"delete","x":797.0000610351562,"y":442.68333435058594,"wires":[]},{"id":"4a29e03d.9fd84","type":"split","z":"7e4e476a.0f7008","name":"dividir os docs","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":466.99993896484375,"y":385.03334045410156,"wires":[["39ea9878.dc1af8"]]},{"id":"3fa7452c.1ebada","type":"debug","z":"7e4e476a.0f7008","name":"Id e Rev deletados","active":true,"console":"false","complete":"payload","x":778.0000610351562,"y":377.3833465576172,"wires":[]},{"id":"39ea9878.dc1af8","type":"function","z":"7e4e476a.0f7008","name":"Extrair Id e Rev","func":"\nvar document = {_id: msg.payload._id, _rev: msg.payload._rev};\nmsg.payload = document;\nreturn msg;","outputs":1,"noerr":0,"x":485,"y":446.59999084472656,"wires":[["986463b7.e8058","3fa7452c.1ebada"]]},{"id":"cb6f9cc4.05ae5","type":"debug","z":"7e4e476a.0f7008","name":"","active":true,"console":"false","complete":"false","x":382,"y":96,"wires":[]},{"id":"9186c061.6a25b","type":"cloudant","z":"","host":"myaccountname.cloudant.com","name":"My Cloudant account"}]
