Conversation
[{"id":"65143712.7bd5d8","type":"watson-conversation-v1","z":"d620c459.c4ec58","name":"","workspaceid":"08ccacd6-42fb-47f0-aa23-cd6583382e02","multiuser":false,"context":false,"default-endpoint":true,"service-endpoint":"","x":490,"y":280,"wires":[["bf3d8be4.86dfe8"]]},{"id":"8be93add.c41178","type":"http in","z":"d620c459.c4ec58","name":"","url":"/bot","method":"get","upload":false,"swaggerDoc":"","x":220,"y":160,"wires":[["c3db76ac.657ec8"]]},{"id":"c3db76ac.657ec8","type":"template","z":"d620c459.c4ec58","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <title>\n\t  My BOT\n\t</title>\n\t<link rel=\"stylesheet\"\n        type=\"text/css\"\n        href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\" />\n  </head>\n  <body>\n\n    <div class=\"container\">\n      <div id=\"no-script\"class=\"bg-info\">\n        This application needs JavaScript enabled in your browser!\n      </div>\n      <div id=\"id_contextdump\"></div>\n\n      <h1>Chat Bot</h1>\n      <div id=id_botchathistory>\n\t  </div>\n\t  \n\t  <div>\n\t      <form>\n            <label for=\"id_chattext\">Mensagem: </label>\n            <input type=\"text\" name=\"chattext\" id=\"id_chattext\">\n            <br/><br/>\n\t      </form>\n\t      <button onclick=\"javascript:onChatClick()\">Enviar</button>\n\t  </div>\n    </div>\n    <script type=\"text/javascript\" src=\"https://code.jquery.com/jquery-2.1.4.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n\n    <script type=\"text/javascript\">\n    \n      $(document).ready(function() {\n          javascriptCheck();\n          \t$('#id_contextdump').hide();\n      });\n\n      // if javascript is enabled on the browser then can\n      // remove the warning message\n      function javascriptCheck() {\n        $('#no-script').remove();\n      }\n      \n      function createNewDiv(who, message) {\n        console.log('002-001');  \n        var txt = who + ' : ' + message;\n        return $('<div></div>').text(txt);\n      }\n\n      function chat(person, txt) {\n        $('#id_botchathistory').append(createNewDiv(person, txt));\n      }    \n      \n      function processOK(response) {\n        console.log('003-001');\n        console.log(response);\n        console.log(response.botresponse.messageout);\n        console.log(response.botresponse.messageout.output.text);\n        console.log(response.botresponse.messageout.context);\n        chat('Bot', response.botresponse.messageout.output.text); \n        $('#id_contextdump').data('convContext', response.botresponse.messageout.context);\n      }\n      \n      function processNotOK() {\n        chat('Erro', 'Erro ao tentar falar com o Bot');\n      }\n      \n      function invokeAjax(message) {\n        var contextdata = $('#id_contextdump').data('convContext');\n        console.log('verificando dados de contexto');\n        console.log(contextdata);\n        \n  \n        //var ajaxData = \"msgdata=\" + message;\n        var ajaxData = {};\n        ajaxData.msgdata = message;\n        if (contextdata) {\n          ajaxData.context = contextdata;    \n        }\n\n        $.ajax({\n          type: 'POST',\n          url: 'botchat',\n          data: ajaxData,\n          success: processOK,\n          error: processNotOK\n        });\n      }\n          \n      // User has entered some text.\n      function onChatClick() {\n        console.log('001-001');\n        var txt = $('#id_chattext').val();\n        chat('Você', txt); \n        invokeAjax(txt);\n        console.log('001-002');\n      }\n      \n        \n    </script>\n  </body>\n</html>\n","x":430,"y":160,"wires":[["3942f5fd.ac2fda"]]},{"id":"3942f5fd.ac2fda","type":"http response","z":"d620c459.c4ec58","name":"","x":630,"y":160,"wires":[]},{"id":"8aa287ac.23c5f8","type":"http in","z":"d620c459.c4ec58","name":"","url":"/chatbot","method":"post","upload":false,"swaggerDoc":"","x":160,"y":280,"wires":[["3c5b597d.395846"]]},{"id":"877c8d57.ba2f5","type":"http response","z":"d620c459.c4ec58","name":"","x":790,"y":280,"wires":[]},{"id":"3c5b597d.395846","type":"function","z":"d620c459.c4ec58","name":"","func":"msg.mydata = {};\nmsg.mydata.messagein = msg.req.body.msgdata;\nmsg.payload = msg.mydata.messagein;\n\nmsg.params = { \"context\": msg.req.body.context};\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":280,"wires":[["65143712.7bd5d8"]]},{"id":"bf3d8be4.86dfe8","type":"function","z":"d620c459.c4ec58","name":"","func":"msg.mydata.messageout = msg.payload;\n\nmsg.payload = {};\nmsg.payload.botresponse = msg.mydata;\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":280,"wires":[["877c8d57.ba2f5"]]}]
