SpeechToText
[{"id":"a9e99944.971ca8","type":"watson-speech-to-text","z":"b50ff0da.90736","name":"","continuous":true,"speakerlabels":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","band":"BroadbandModel","bandhidden":"BroadbandModel","password":"","payload-response":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":480,"y":140,"wires":[["5be1ab3e.daa104"]]},{"id":"ad419541.f3dc48","type":"microphone","z":"b50ff0da.90736","name":"","x":230,"y":140,"wires":[["a9e99944.971ca8"]]},{"id":"5be1ab3e.daa104","type":"debug","z":"b50ff0da.90736","name":"","active":true,"console":"false","complete":"transcription","x":730,"y":140,"wires":[]},{"id":"62b7273f.06fed8","type":"fileinject","z":"b50ff0da.90736","name":"","x":240,"y":220,"wires":[["e1991af8.999af8"]]},{"id":"e1991af8.999af8","type":"watson-speech-to-text","z":"b50ff0da.90736","name":"","continuous":true,"speakerlabels":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","band":"BroadbandModel","bandhidden":"BroadbandModel","password":"","payload-response":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":480,"y":220,"wires":[["f837ff0a.de4e8"]]},{"id":"f837ff0a.de4e8","type":"debug","z":"b50ff0da.90736","name":"","active":true,"console":"false","complete":"transcription","x":730,"y":220,"wires":[]}]
