STT+CONVERSATION+TTS
[{"id":"c7dfa6a9.09ab08","type":"watson-speech-to-text","z":"f753ed05.4ced6","name":"","continuous":true,"speakerlabels":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","band":"BroadbandModel","bandhidden":"BroadbandModel","password":"","payload-response":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":340,"y":80,"wires":[["8a57cf44.8e0d3"]]},{"id":"f1575eab.234f3","type":"microphone","z":"f753ed05.4ced6","name":"","x":130,"y":80,"wires":[["c7dfa6a9.09ab08"]]},{"id":"92642f08.3e35f","type":"watson-conversation-v1","z":"f753ed05.4ced6","name":"","workspaceid":"08ccacd6-42fb-47f0-aa23-cd6583382e02","multiuser":false,"context":false,"default-endpoint":true,"service-endpoint":"","x":670,"y":80,"wires":[["e81cfa7f.c032a8"]]},{"id":"917bb375.175bd","type":"watson-text-to-speech","z":"f753ed05.4ced6","name":"","lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"pt-BR_IsabelaVoice","voicehidden":"","password":"","payload-response":false,"default-endpoint":false,"service-endpoint":"","x":340,"y":140,"wires":[["4d736b1e.5b2904"]]},{"id":"4d736b1e.5b2904","type":"function","z":"f753ed05.4ced6","name":"","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":140,"wires":[["24ba6cb5.c35cc4"]]},{"id":"24ba6cb5.c35cc4","type":"websocket out","z":"f753ed05.4ced6","name":"","server":"18158121.01690f","client":"","x":720,"y":140,"wires":[]},{"id":"47c6f1cd.ec6df","type":"http in","z":"f753ed05.4ced6","name":"","url":"/audio","method":"get","swaggerDoc":"","x":170,"y":220,"wires":[["ba121603.03be08"]]},{"id":"fd6ceb36.c6d748","type":"http response","z":"f753ed05.4ced6","name":"","x":588.545488357544,"y":222.27270126342773,"wires":[]},{"id":"ba121603.03be08","type":"template","z":"f753ed05.4ced6","name":"","field":"payload","fieldType":"msg","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n  <title>IBM Watson - Text To Speech</title>\n  <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js\"></script>\n  \n  <script type=\"text/javascript\">\n    var socketaddy = \"ws://\" + window.location.host + \"/ws/audio\";\n\n    $(document).ready(function(){\n      var output = document.getElementById('output')\n      $('#output').on('playing', function () {\n          $('#text').text('Reproduzindo audio.')\n          \n      });\n      $('#output').on('ended', function () {\n          $('#text').text('Aguardando audio...')\n          \n      });\n      sock = new WebSocket(socketaddy);\n      sock.onopen = function(){\n          $('#text').text('Aguardando audio...');\n          console.log(\"Connected websocket\");\n      };\n      sock.onerror = function(){ \n          console.log(\"Websocket error\"); \n      };\n      sock.onclose = function () {\n          $('#text').text('Não conectato, tente regarregar a página!')\n      }\n      sock.onmessage = function(evt){\n        console.log(\"Websocket message\", evt); \n        output.src = window.URL.createObjectURL(evt.data);\n        output.play();\n      };\n    });\n  </script>\n  \n</head>\n<body style=\"font-size: 56px; font-family: helvetica; text-align: center; margin-top: 100px;\">\n  <div id=\"text\">Connecting...</div>\n  <audio id=\"output\"></audio>\n</body>\n</html>","x":383,"y":220.99998474121094,"wires":[["fd6ceb36.c6d748"]]},{"id":"8a57cf44.8e0d3","type":"function","z":"f753ed05.4ced6","name":"","func":"msg.payload = msg.transcription;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":80,"wires":[["92642f08.3e35f"]]},{"id":"e81cfa7f.c032a8","type":"function","z":"f753ed05.4ced6","name":"","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":80,"wires":[["917bb375.175bd"]]},{"id":"a259ec38.c8161","type":"fileinject","z":"f753ed05.4ced6","name":"","x":120,"y":140,"wires":[["c7dfa6a9.09ab08"]]},{"id":"18158121.01690f","type":"websocket-listener","path":"/ws/audio","wholemsg":"false"}]
