TextToSpeech
[{"id":"81aa167b.71c238","type":"watson-text-to-speech","z":"44952f68.2d5ba8","name":"","lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"pt-BR_IsabelaVoice","voicehidden":"","password":"","payload-response":false,"default-endpoint":false,"service-endpoint":"","x":560,"y":80,"wires":[["e77632c8.7f69b"]]},{"id":"7d7105e3.626b0c","type":"inject","z":"44952f68.2d5ba8","name":"","topic":"","payload":"Olá, este é um exemplo de uso da API de texto para fala do Watson via noudeRRed!","payloadType":"str","repeat":"","crontab":"","once":false,"x":190,"y":80,"wires":[["81aa167b.71c238"]]},{"id":"bb5e6c7c.14e7e","type":"websocket out","z":"44952f68.2d5ba8","name":"","server":"18158121.01690f","client":"","x":700,"y":260,"wires":[]},{"id":"eccac894.d57238","type":"http in","z":"44952f68.2d5ba8","name":"","url":"/audio","method":"get","swaggerDoc":"","x":158.81817626953125,"y":422.36366271972656,"wires":[["2157a098.83cfd"]]},{"id":"da11396a.70c9f8","type":"http response","z":"44952f68.2d5ba8","name":"","x":577.3636646270752,"y":424.6363639831543,"wires":[]},{"id":"2157a098.83cfd","type":"template","z":"44952f68.2d5ba8","name":"","field":"payload","fieldType":"msg","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n  <title>IBM Watson - Text To Speech</title>\n  <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js\"></script>\n  \n  <script type=\"text/javascript\">\n    var socketaddy = \"ws://\" + window.location.host + \"/ws/audio\";\n\n    $(document).ready(function(){\n      var output = document.getElementById('output')\n      $('#output').on('playing', function () {\n          $('#text').text('Reproduzindo audio.')\n          \n      });\n      $('#output').on('ended', function () {\n          $('#text').text('Aguardando audio...')\n          \n      });\n      sock = new WebSocket(socketaddy);\n      sock.onopen = function(){\n          $('#text').text('Aguardando audio...');\n          console.log(\"Connected websocket\");\n      };\n      sock.onerror = function(){ \n          console.log(\"Websocket error\"); \n      };\n      sock.onclose = function () {\n          $('#text').text('Não conectato, tente regarregar a página!')\n      }\n      sock.onmessage = function(evt){\n        console.log(\"Websocket message\", evt); \n        output.src = window.URL.createObjectURL(evt.data);\n        output.play();\n      };\n    });\n  </script>\n  \n</head>\n<body style=\"font-size: 56px; font-family: helvetica; text-align: center; margin-top: 100px;\">\n  <div id=\"text\">Connecting...</div>\n  <audio id=\"output\"></audio>\n</body>\n</html>","x":371.81817626953125,"y":423.3636474609375,"wires":[["da11396a.70c9f8"]]},{"id":"e77632c8.7f69b","type":"function","z":"44952f68.2d5ba8","name":"","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":180,"wires":[["bb5e6c7c.14e7e"]]},{"id":"1014f0a4.e5112f","type":"http in","z":"44952f68.2d5ba8","name":"","url":"/sendaudio","method":"get","upload":false,"swaggerDoc":"","x":160,"y":120,"wires":[["e6fe03ea.501ad"]]},{"id":"e6fe03ea.501ad","type":"function","z":"44952f68.2d5ba8","name":"","func":"msg.payload = msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":120,"wires":[["81aa167b.71c238"]]},{"id":"4d69a5b5.b66fac","type":"comment","z":"44952f68.2d5ba8","name":"Como Usar!","info":"Abrir a página http://ctrafael-demo.mybluemix.net/audio\nem outra aba, acessar a url:\nhttp://ctrafael-demo.mybluemix.net/sendaudio?text=\"texto a ser falado!\"\n\n\nNOTA:\nSubstitua o endereço http://ctrafael-demo.mybluemix.net pelo endereço de sua aplicaçaão NodeRed!\nSubstitua o conteudo de 'text' na linha 3 deste documento pelo texto que você deseja que seja falado!","x":148,"y":160,"wires":[]},{"id":"18158121.01690f","type":"websocket-listener","path":"/ws/audio","wholemsg":"false"}]
